body{
    color: #000033;
    font-size: 18px;
    background-color: whitesmoke;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to bottom, #FFFFFF, rgba(204, 204, 204, 0.4));
}
.header .logo{
    flex: 1;
    height: 100%;
}
.header .logo img{
    margin-left: 50%;
    margin-top: 15px;
    left: 100px;
    width: 150px;
}
.header .menu{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.header .menu .line{
    margin-top: 28px;
    height: 18px;
    width: 2px;
    background-color: black;
}
.header .menu .item{
    margin: 0 10px;
}

@keyframes speed_width{
	0%{width: 0px;}
	33%{width: 22px;}
	66%{width: 44px;}
	100%{width: 66px;}

}
.header .menu .item .icon1{
    background: url(../static/header_03.png);
    position: absolute;
    top: -20px;
    width: 38px;
    height: 23px;
}
.header .menu .item .icon2{
    background: url(../static/header_07.png);
    position: absolute;
    top: -20px;
    width: 38px;
    height: 23px;
}
.header .menu .item a{
    position: relative;
    color: #000033;
    top: 25px;
    text-decoration: none;
}
.header .menu .item a:hover{
    color: red;
}
.header .menu .item a:hover .icon1{
    background: url(../static/header_05.png);
    width: 66px;
    animation: speed_width 0.5s linear;
}
.header .menu .item a:hover .icon2{
    background: url(../static/header_09.png);
    width: 66px;
    animation: speed_width 0.5s linear;
}
.header .btns{
    flex: 1;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.header .btns .btn1{
    background: url(../static/iconsB_11.gif);
    width: 23px;
    height: 24px;
    cursor: pointer;
    transition: all 0.5s linear;
    margin: 0 5px;
}
.header .btns .btn1:hover{
    transform: rotate(360deg);
}
.header .btns .btn2{
    background: url(../static/iconsB_12.gif);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.5s linear;
    margin: 0 5px;
}
.header .btns .btn2:hover{
    transform: rotate(360deg);
}
.header .btns .btn3{
    width: 24px;
    height: 24px;
    background: url(../static/iconsB_13.png);
    cursor: pointer;
    transition: all 0.5s linear;
    margin: 0 5px;
}
.header .btns .btn3:hover{
    transform: rotate(360deg);
}
.box{
    position: relative;
    width: 1500px;
    height: 800px;
    display: flex;
}
.box li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    background-color: white;
    cursor: pointer;
    transition: all 1   s linear;
}
.box li a{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black
}
.box .left-box{
    position: relative;
    float: left;
    width: 20%;
    padding-top: 25px;
}
.box .left-box .c-box{
    width: 100%;
    height: 100%;
}
.box .right-box{
    padding: 20px;
    width: 80%;         
}
.box .right-box .c-box{
    float: left;
    width: 32%;
    height: 50%;
    margin: 7px;
}
.container .box .left-box>li:hover{
    transform:  translate(0, -2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.container .box .right-box>li:hover{ 
    transform:  translate(0, -2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.img2{
    width: 150px;
}
.container .footer{
    background-color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

